.App {
  text-align: center;
}

.style {
  height: 30px;
  border: 1px solid green;
  margin: 6px;
  padding: 8px;
};

.news-image {
  /* width: 300px; */
}

.news-title {
  color: blue;
  margin-left: 20px;
}

.news-wrapper {
  display: flex;
  padding: 0 20px;
}

.top-button {
  position: fixed;
  float: right;
  right: 10px;
  top: 10px;
  font-size: 40px;
  border-radius: 50;
  border-radius: 50%;
  border: none;
  width: 50px;
}